@using Booking.Models
@model Room

<h2>Insert Room</h2>

@using (Html.BeginForm("Insert", "Rooms", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div class="form-group">
        @Html.LabelFor(model => model.RoomId)
        @Html.TextBoxFor(model => model.RoomId, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomType)
            @if (ViewBag.RoomTypes != null)
            {
                @Html.DropDownListFor(model => model.RoomTypeId, new SelectList(ViewBag.RoomTypes, "RoomTypeId", "RoomTypeId"), "-- Select Room Type --", new { @class = "form-control" })
            }
            else
            {
                <p>No Room Types available.</p>
            }
        </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Hotel)
        @if (ViewBag.Hotels != null)
        {
            @Html.DropDownListFor(model => model.HotelId, new SelectList(ViewBag.Hotels, "HotelId", "HotelId"), "-- Select Room Type --", new { @class = "form-control" })
        }
        else
        {
            <p>No Hotel available.</p>
        }
    </div>

        <div class="form-group">
        @Html.LabelFor(model => model.status)
        @Html.TextBoxFor(model => model.status, new { @class = "form-control" })
        </div>

        <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
        </div>

        <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        </div>

        <div class="form-group">
        @Html.LabelFor(model => model.OtherDetails)
        @Html.TextBoxFor(model => model.OtherDetails, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label for="imageFile">Upload Image</label>
            <input type="file" name="imageFile" id="imageFile" accept=".jpg, .jpeg, .png" />
        </div>

        <input type="submit" value="Add Room" class="btn btn-primary" />
}
